
/* Box model Hack */
*{
  box-sizing: border-box;
}

/* HTML */

html{
  font-size: 62.5%;
}

/* BODY */

body{
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  max-width: 100%;
  max-height: 100vh;
}

/* HEADER */

header{


}



/* MAIN */

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  max-height: 35%;
  margin: 5%;


}

main>button{
  max-width: 10%;
  margin: 0 auto;
}

main>button:hover {
  background-color: green;
  cursor: pointer;
}

main section{
  height: 25%;
}



/*CLASSES*/

.hidden{
  display: none;
}










/* MEDIA QUERIES */