
/* Box model Hack */
*{
  box-sizing: border-box;
}


html{
  font-size: 62.5%;
}

body{
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  max-width: 100%;
  max-height: 100vh;
}

/* HEADER */

header{


}



/* MAIN */

main{


}

main section{
  height: 
}



/*CLASSES*/

.hidden{
  display: none;
}










/* MEDIA QUERIES */